<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
    <file>wikiapp.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="INFO"/>
  <logger name="org.apache" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="eu.spyropoulos.wikiapp" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="LOGFILE"/>
  </root>

</configuration>